{% extends "base_template.html" %}
{% load static %}
{% block content %}
    <div>
        <h1 style="font-size: 30px; margin-left: 50px; margin-top: 30px;">Halo, apa kabar?</h1>
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}
    
            {{ form.as_p }}
            <input type="submit" id="button_submit" style="margin-left: 50px;">
        </form>

        <div> 
            <ol>
                {% for i in data %}
                <li>
                    <a class="status_list">{{i.status}}</a> <br>
                    {{i.timestamp}} <br>
                    <a href="{% url 'myapp:delete' id=i.id %}"><button type="submit" style="margin-bottom: 15px">Delete</button></a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

{% endblock %}