{% extends "base_template.html" %}
{% load static %}
{% block content %}
<div style="margin: 20px;">
    <h1>{{ title }} successfully.</h1>
    <a href="{% url 'story9:story9_index' %}"><button class="btn btn-primary">Home</button></a>
</div>
{% endblock %}