{% extends "base_template.html" %}
{% load static %}
{% block content %}
<div style="margin: 20px">
    <h1>Welcome, {{ user.username }} ({{ user.first_name }} {{ user.last_name }}).</h1>
    <a href="{% url 'story9:logout' %}"><button class="btn btn-primary">Logout</button></a>
</div>

{% endblock %}