{% extends "base_template.html" %}
{% load static %}
{% block content %}
<div style="margin: 20px"> 
    <h1>Hello, please login :)</h1>
    <a href="{% url 'story9:login' %}"><button class="btn btn-primary">Login</button></a>
</div>
{% endblock %}