{% extends "base_template.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center align-items-center container">
    <form id="input-form" class="container" style="margin-bottom: 20px;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-10">
                <input class="form-control form-control-sm mr-3 w-100 text-align-center" id="searchbox" type="text"
                    placeholder="Search" aria-label="Search" autocomplete="off">
            </div>
            <div class="col-2">
                <input type="submit" id="cari" class="btn btn-primary mx-auto" value="Search" />
            </div>
        </div>
    </form>
</div>

<div class="container" id="tabel">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody id="cont">
        </tbody>
    </table>
</div>



<script type="text/javascript" src="{% static 'story8.js' %}"></script>

{% endblock %}