{% extends "base_template.html" %}
{% load static %}
{% block content %}

<div>
    <button class="btn btn-primary" id="ubah" style="margin-left: 15px; margin-top: 10px;">Ubah Tema</button>
</div>

<div style="margin-top: 30px;"></div>
    <div class="menu">
        <p class="mystyle">Aktivitas</p>
        <ul class="content">
        <li>Kuliah</li>
        <li>Nugas</li>
        <li>Sakit</li>
        </ul>
    </div>
    <div class="menu ">
        <p class="mystyle">Organisasi/Kepanitiaan</p>
        <ul class="content hidden">
        <li>KMBUI</li>
        </ul>
    </div>
    <div class="menu">
        <p class="mystyle">Prestasi</p>
        <ul class="content hidden">
        <li>Finalis OSN Fisika (2013)</li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}