{% extends "base_template.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1 style="text-align: center;">My First Load Balancer</h1>
    
    <br>

    <p style="text-align: justify;">
        &emsp;&emsp;Load Balancing adalah teknik untuk mendistribusikan beban 
        traffic pada 2 atau lebih jalur koneksi secara seimbang, agar traffic dapat 
        berjalan optimal, memaksimalkan throughput, memperkecil response time dan 
        menghindari overload pada salah satu jalur koneksi. Jadi Load Balancer 
        adalah sesuatu yang melakukan Load Balancing. Mengapa Load Balancer ini
        <i>exist</i>? Pada dasarnya sesuatu itu diciptakan karena dibutuhkan. 
        Suatu website bisa mengalami <i>down</i> apabila jumlah pengunjung 
        melebihi kapasitas yang seharusnya. Disinilah peran Load Balancer 
        sangat dibutuhkan.
    </p>

    <p style="text-align: justify;">
        &emsp;&emsp;Ibaratnya, server adalah jalurnya, website adalah tujuan kita. 
        Banyak jalur untuk mencapai tempat yang kita tuju. Jika semua orang 
        menggunakan 1 jalur yang sama, maka akan terjadi <i>traffic jam</i>. 
        Oleh karena itu, semua orang yang berada di jalur yang sama itu 
        lebih baik melalui jalur yang berbeda-beda agar tidak terjadi 
        kemacetan yang sangat merugikan waktu kita. Karena komputer tidak 
        bisa membedakan mana jalur yang sepi dan mana jalur yang ramai, maka 
        Load Balancer lah yang memberikan arah. Load Balancer mendistribusikan 
        beban <i>traffic</i> secara merata sehingga dapat mengurangi kemacetan 
        dan respons yang diberikan oleh server pun menjadi cepat. Load Balancer 
        yang saya gunakan kali ini adalah <b>NGINX</b> (Engine-X) dengan framework Django.
    </p>
    <br>
    <p style="text-align: justify;">
        Berikut ini langkah-langkah simpel untuk menggunakan NGINX dengan Django:
    </p>

    <div>
        1. Pertama download terlebih dahulu NGINX-nya di 
        <a href="http://nginx.org/en/download.html">http://nginx.org/en/download.html</a>
        <br>
        <img src="{% static 'images/downloadnginx.png' %}" alt="" style="width: 100%; height: 100%; display: block; margin: 15px;">
        <br><br><br>
        
        2. Setelah itu simpan file nya di suatu tempat. Saya mendownloadnya yang versi di zip, 
        kemudian saya ekstrak, dan isinya seperti ini
        <br>
        <img src="{% static 'images/dir.png' %}" alt="" style="width: 100%; height: 100%; display: block; margin: 15px;">
        <br><br><br>

        3. Buka folder <b>conf</b>, buka file <b>nginx.conf</b> di text editor, saya mengubahnya kodenya menjadi seperti di bawah ini
        <br>
        <img src="{% static 'images/conf.png' %}" alt="" style="width: 100%; height: 100%; display: block; margin: 15px;">
        <br><br><br>

        4. Kalau sudah, buka cmd dengan directory yang di dalamnya Nginx yang sudah di ekstrak dan ketik <b>start nginx</b>
        <br>
        <img src="{% static 'images/startnginx.PNG' %}" alt="" style="width: 100%; height: 100%; display: block; margin: 15px;">
        <br><br><br>

        5. Buka cmd dengan directory project django dan kemudian ketik <b>python manage.py runserver 8000</b>, ulangi lagi tetapi 
        dengan port 9000, <b>python manage.py runserver 9000</b>. Ini kita artinya sudah memiliki 2 port yang menyala, 8000 dan 9000
        <br>
        <img src="{% static 'images/port8000.PNG' %}" alt="" style="width: 100%; height: 100%; display: block; margin: 15px;">
        <br><br><br>

        6. Setelah 5 langkah di atas sudah selesai, buka tab baru di browser yang digunakan, kemudian ketik <b>server_name</b> sesuai 
        dengan yang ada di <b>nginx.conf</b>. Disini saya membuat server_name-nya <b>localhost</b>.
        <br>
        <img src="{% static 'images/openserver.png' %}" alt="" style="width: 100%; height: 100%; display: block; margin: 15px;">
        <br><br><br>

        Jika di refresh, di masing-masing cmd yang melakukan runserver akan terlihat server mana yang sedang di akses, jika 
        port 8000 yang di akses maka akan muncul sesuatu di cmd-nya, begitu juga dengan port 9000. Selamat mencoba.
        <br>
        <br>
        Selesai! Selamat sudah menyelesaikan tutorial ini!
        <div style="height: 100px;">

        </div>

    </div>
</div>
{% endblock %}