<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
         
        <link rel="stylesheet" type="text/css" href= "{% static 'css/base_css.css' %}">
    </head>

    <body>
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
         integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script> -->

        <script
         src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
         integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-md navbar-fixed-top">
            <a class="navbar-brand" href="{% url 'myapp:cobaTest' %}">My Story</a>

            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:cobaTest' %}">Story 6</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story7:story7_index' %}">Story 7</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story8:story8_index' %}">Story 8</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story9:story9_index' %}">Story 9</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story10:story10_index' %}">Story 10</a>
                </li>

                </ul>
            </div>
        </nav>

        {% block content %}

        {% endblock %}

    </body>